.minimized-profile-container{
  padding-top: 5em;
}

.minimized-profile-wrapper{
  height: 300px;
  width: 250px;
  background-color: #2D2E36 !important;
  border-radius: 0.25rem;
  padding: 1.5em;
  float: left;
  margin: 0 0.5em 3em 0.5em;
  cursor: pointer;
  transition: all 0.1s ease-out;
  top: 0;
  position: relative;
}

.minimized-profile-wrapper:hover{
  top: -1em;
}

.minimized-profile-title{
  font-size: 1.2em;
  text-align: left;
}

.minimized-profile-files-count{
  text-align: left;
}

.minimized-profile-last-connection{
  font-size: 0.9em;
}

.minimized-profile-avatar{
  border-radius: 0.25rem;
  margin: 0 6px 0 6px;
  max-height: 180px;
  max-width: 180px;
}
