.arrow {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background: transparent;
  border: 0;
  outline:0 !important;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  position: fixed;
  top: 2em;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
}

.left {
  left: 1.5em;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 6;
  outline: 0;
}

.left:active polyline {
  stroke-width: 9;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}
